$cell-size: 20vh;
$mark-size: $cell-size*.8;
$cell-border-size: $cell-size*.015;

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: $cell-size * 3;
  width: $cell-size * 3;

  &__cell {
    width: $cell-size;
    height: $cell-size;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(238, 215, 180);
    border: $cell-border-size solid black;
  }

  &__mark {
    max-height: $mark-size;
    max-width: $mark-size;
    padding: 1px;
    position: relative;
  }
}

.title {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
}

.restart-btn {
  padding: 10px 30px;
  margin-bottom: 20px;
  font-size: 20px;
  border: $cell-border-size solid black;
}